:root {
    --color-amarillo: rgb(231, 231, 22);
    --color-fondoClaro: rgba(128, 128, 128, 0.493);
    --color-parrafosGrisClaro: rgb(197, 196, 196);
    --color-fondoGrisOscuro: rgb(100, 99, 99);
    --letra-titulos: monospace;
    --letra-parrafos: 'Courier New', Courier, monospace;
}

@media (max-width: 990px) {

    /* PORTADA */

    #SectionPortada {
        height: 175vh;
        min-height: 100vh;
    }

    .divContenedorPortada {
        height: 100%;
        margin-top: 40px;
        flex-direction: column;
        width: max (700px 90%);
    }

    .divImg {
        width: 100%;
        height: 35%;
        background-color: rgb(231, 231, 22);
        background-image: url(./jsPortadaChica.PNG);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: right;
        border: none;
    }

    .divTexto {

        flex-direction: column;
        justify-content: center;
        width: 100%;
        order: 2;
        border: none;
        box-shadow: 10px 10px 15px;
        gap: 15px;
    }

    .textLeft {
        width: 100%;
    }

    .textLeft h1,
    .textLeft h2,
    .textRight h3,
    .textRight h4 {
        font-size: 1.5rem;
        padding: 0;
        margin: 0;
    }

    .textRight {
        width: 100%;
    }

    /* ***********************************************    CARROUSEL    ********************************************************* */
    #SectionCarrousel {
        padding-top: 10px;
    }

    #SectionCarrousel h1 {
        font-size: 1.2rem;
    }

    #SectionCarrousel h2 {
        font-size: 0.9rem;
    }

    .carouselContenedor {

        height: auto;
        margin: 50px 0px;
        width: 95%;
    }

    .carouselContenedor:hover {
        transform: scale(1.00);
    }


    .divTitulos {
        width: 90%;
        padding: 15px 0px;
    }



    /* ***********************************************    CONTACTANOS    ********************************************************* */


    #sectionContacto {
        min-height: 100vh;
    }


    .divContactoContenedor {
        height: 100%;
        flex-direction: column;
        margin: 30px 0px;
    }

    .divImgContacto {
        height: 45%;
        width: 100%;
        background-position: bottom;
    }

    .divFormContacto {
        width: 100%;
    }

    .contactoForm {
        gap: 2px;
    }


    /* ******************************************      USUARIOS REGISTRO INICIAR SESION     **************************************** */
    #usuarioSection {
        min-height: 160vh;
    }


    .usuarioDiv {
        margin-top: 0px;
        flex-direction: column;
        min-height: 150vh;
        align-items: none;
    }

    .divImgHola {
        background-image: url(./imagenesChicas/bienvenido2.jpg);
        height: 45%;
        width: 100%;
        border-bottom: solid 3px var(--color-amarillo);
    }

    .ingresarDiv,
    .registrarseDiv {
        width: 100%;
    }



    /* FOOTER */
    .footer h3 {
        font-size: 1rem;
    }
}

/* MEDIA PARA CARROUSEL IMAGENES CEL EN VERTICAL */
@media (max-width: 721px) {

    /* agrego hidden en x , al estirar las imagenes salen del ancho. */
    #SectionCarrousel{
        overflow-x: hidden;
    }
    .carouselContenedor,
    .divImgCarrousel {
        width: 140%;
    }

    #imagen {
        height: 60vh;
    }

    .btnAnterior {
        left: 9%;
    }

    .btnSiguiente {
        right: 9%;
    }

}