* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    /* scroll mas lento */
    scroll-behavior: smooth;
}

:root {
    --color-amarillo: rgb(231, 231, 22);
    --color-fondoClaro: rgba(128, 128, 128, 0.493);
    --color-parrafosGrisClaro: rgb(197, 196, 196);
    --color-fondoGrisOscuro: rgb(100, 99, 99);
    --letra-titulos: monospace;
    --letra-parrafos: 'Courier New', Courier, monospace;
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 65px;
    background-color: var(--color-amarillo);
    box-shadow: 0px 10px 15px;
}

nav {
    display: flex;
    align-items: center;
}

ul {
    display: flex;
    gap: 20px;
    padding-right: 20px;
}

ul li a {
    color: rgb(17, 5, 46);
    font-size: 1rem;
    font-family: 'Courier New', Courier, monospace;
    cursor: pointer;
    font-weight: 600;
}

ul li a:hover {
    color: white;
}

.fa-user,
.fa-bars {
    margin-right: 30px;
    font-size: 1.6rem;
    color: rgb(17, 5, 46);
}



.fa-user:hover,
.fa-bars:hover {
    color: white;
}

#MenuHamburugesa {
    display: none;
}

/* --------------------------------------------     SECTION PORTADA   -----------------------------------*/

#SectionPortada {
    padding-top: 0;
    /* Modificacion para poder desplazar la card al cargar la web */
    position: relative;
    overflow: hidden;
    /* ----- continuo efecto en animaciones.css ------- */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-fondoClaro);
    width: 100%;
    height: calc(100vh - 65px);
}

/* Contenedor del div con img JS y div texto */
.divContenedorPortada {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    width: min(95%, 1000px);
}

/* CARD QUE HABLA SOBRE JS */
.divTexto {
    display: flex;
    gap: 50px;
    width: 57%;
    padding: 15px;
    background-color: rgb(100, 99, 99);
    border: solid 4px var(--color-amarillo);
    border-right: 0;
    border-radius: 3px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: 20px 10px 15px;
}

/* lado izquierdo titulos y parrafo */
.textLeft {
    width: 50%;
}

.textLeft h1,
.textLeft h2 {
    color: var(--color-amarillo);
    font-size: 2rem;
    font-family: var(--letra-titulos);
}

.textLeft h2 {
    border-bottom: solid var(--color-amarillo) 2px;
    padding-bottom: 14px;
    margin-bottom: 20px;
}

/* mismos colores y tamaños para izq y der */
.textLeft p,
.textRight ol {
    color: var(--color-parrafosGrisClaro);
    font-size: 1rem;
    line-height: 1rem;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
}

/* lado derecho titulos y parrafo */
.textRight {
    width: 50%;
}

.textRight h3,
.textRight h4 {
    color: var(--color-amarillo);
    font-size: 1.54rem;
    font-family: var(--letra-titulos);
}

.textRight h4 {
    border-bottom: solid var(--color-amarillo) 2px;
    margin-bottom: 20px;
}

/* paddin para ubicar los list style dentro del subrayado superior */
.textRight ol {
    padding: 0 15px;
}

.textRight ol li {
    list-style: disc;
}

.divImg {
    width: 43%;
    height: 100%;
    background-image: url(./jsPortada.png);
    background-size: cover;
    background-position: right;
    border: solid 4px var(--color-amarillo);
    border-left: 0;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    box-shadow: 10px 10px 15px;
}

/* ---------------------------------------   SECTION  CARROUSEL     -------------------------------------*/
/* APLICO A TODOS LOS SECTION PARA CADA EJEMPLO */
section {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-fondoClaro);
}



/* *************************************************************************************************************************
CARROUSEL **********************************************************************************************************  */

/* Div: h1: Ej realizados en js h2: algunos de los mencionados anteriormente */
.divTitulos {
    padding: 15px 70px;
    border-radius: 4px;
    background-color: rgb(100, 99, 99);
    text-align: center;
    box-shadow: 10px 10px 15px;
}

#SectionCarrousel h1 {
    font-family: var(--letra-titulos);
    color: var(--color-amarillo);
    font-size: 1.5rem;
    margin-bottom: 2px;
}

#SectionCarrousel h2 {
    font-family: var(--letra-parrafos);
    font-size: 1.2rem;
    color: var(--color-parrafosGrisClaro);
}

/* titulo con el nombre del ejemplo en js : Carrousel de imagenes */
.divTituloEjemplos {
    margin-top: 40px;
    padding: 10px 20px;
    border-radius: 4px;
    background-color: rgb(100, 99, 99);
    box-shadow: 10px 10px 15px;
    text-align: start;
    line-height: 1.3rem;
}


.carouselContenedor {
    margin-top: 15px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    transition: transform 0.2s ease;
    /* Transición suave para el efecto */
}

.carouselContenedor:hover {
    transform: scale(1.08);
}


/* *posición del div como relativa, lo que permite posicionar elementos secundarios (btns)
dentro de el de manera relativa a su posicion original. 
 *display: inline-block; Hace que el div se comporte como un bloque en linea, lo que significa que se ajustará 
al contenido pero seguirá siendo un bloque. */
.divImgCarrousel {
    position: relative;
    display: inline-block;

}

#imagen {
    border-radius: 5px;
    max-width: 100%;
    max-height: 90vh;
    border: solid 4px var(--color-amarillo);
    box-shadow: 10px 10px 15px;
}

.btnAnterior, .btnSiguiente {
    font-size: 20px;
    position: absolute;
    top: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    background-size: cover;
    border: none;
    cursor: pointer;
}

.btnAnterior {
    left: 10px;
    border-radius: 50%;
    padding: 6px 12px;

}

.btnSiguiente {
    right: 10px;
    border-radius: 50%;
    padding: 6px 12px;
}









/* *************************************************** MAS FUNCIONES ************************************************* */




/* SECTION DE MAS FUNCIONES */
.sectionGeneral {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 45px;
    padding: 0 30px;
    background-color: var(--color-fondoClaro);
    /* Espacio vacio para el fin de la pagina */
    padding-bottom: 100px;
}

/* Section contenedor de cards consignas y h1: tp javascript... */
.sectionGeneral h1 {
    margin: 25px 0;
    background-color: var(--color-fondoGrisOscuro);
    box-shadow: 13px 13px 6px rgba(0, 0, 0, 0.589);
    border-radius: 10px;
    padding: 10px 20px;
    text-align: center;
    font-size: 2rem;
    color: yellow;
    font-family: var(--letra-titulos);
}

/* Div/Card consigna individual */
.sectionGeneral div {
    border: solid 1px yellow;
    border-radius: 8px;
    padding: 18px;
    background-color: var(--color-fondoGrisOscuro);
    box-shadow: 13px 13px 6px rgba(0, 0, 0, 0.589);
    width: 90%;
    font-family: var(--letra-parrafos);
    color: var(--color-parrafosGrisClaro);
}

.sectionGeneral h3 {
    font-size: 1.5rem;
    padding-bottom: 10px;
    margin-bottom: 8px;
    color: yellow;
    letter-spacing: 1px;
    border-bottom: 1px solid yellow;
}

.sectionGeneral h2 {
    font-family: var(--letra-titulos);
    border-bottom: none;
    padding: 10px 40px;
}

/* P con la consigna */
.sectionGeneral p {
    padding: 10px;
    margin-bottom: 10px;
    font-size: 1rem;
    font-weight: 500;
}

/* div contenedor del boton ejecutar y el div modificado con js */
#divBtnRes {
    width: 100%;
    display: flex;
    padding: 0px;
    gap: 25px;
    border: none;
    box-shadow: none;
}

.pResultado {
    border: solid 1px yellow;
    border-radius: 8px;
    padding: 18px;
    box-shadow: 7px 7px 6px rgba(0, 0, 0, 0.842);
    /* P oculto, al ejecutar la funcion aparece con js */
    display: none;
}


.btnsMasFunciones {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    height: 45px;
    padding: 10px 0;
    background-color: var(--color-amarillo);
    border-radius: 4px;
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 600;
    box-shadow: 7px 7px 6px rgba(0, 0, 0, 0.842);
    border: none;
}

.btnsMasFunciones:hover {
    color: white;
}

/* consigna 3 colum al ul */
.ulConsigna3 {
    flex-direction: column;
}

/* Consigna 6 colores para cada cuadro */
.div6 {
    display: flex;
    gap: 10px;
    height: 150px;
}

#div6_1 {
    background-color: blue;
    box-shadow: none;
    border: none;
    cursor: pointer;
}

#div6_2 {
    background-color: yellow;
    box-shadow: none;
    border: none;
    cursor: pointer;
}

#div6_3 {
    background-color: gray;
    box-shadow: none;
    border: none;
    cursor: pointer;
}

#div6_4 {
    background-color: green;
    box-shadow: none;
    border: none;
    cursor: pointer;
}

#div6_5 {
    background-color: orange;
    box-shadow: none;
    border: none;
    cursor: pointer;
}



/* PARTE B TITULO */
.h2MasFunciones {
    margin: 40px 0;
    color: white;
    background-color: var(--color-fondoGrisOscuro);
    box-shadow: 13px 13px 6px rgba(0, 0, 0, 0.589);
    border-radius: 10px;
    padding: 20px 60px;
    text-align: center;
    font-size: 2.4rem;
    color: yellow;
}


/* consigna 7b boton limpiar campos */
.btn7bLimpiar {
    background-color: rgb(19, 18, 18);
    padding: 8px;
    color: yellow;
    font-weight: 300;
    font-size: 12px;
    margin-top: 8px;
    box-shadow: none;
    border: solid 1px rgb(208, 208, 208);
    width: 100%;
}


/* Consigna 10b display para mostrar nueros ingresados y resultado */
.div10b {
    display: none;
    width: 460px;
    border: unset;
    box-shadow: none;
}

.divDisplay10b {
    padding: 0;
    width: auto;
    margin-bottom: 0px;
    background-color: var(--color-parrafosGrisClaro);
    border: solid 2px var(--color-amarillo);
    box-shadow: rgba(0, 0, 0, 0.59) 13px 13px 6px;
}

/* Consigna10b contenedor de los botones */
.divContenedorBtns10b {
    border: solid 2px var(--color-amarillo);
    margin-top: 8px;
    width: 100%;
    padding: 0;
    display: flex;
    gap: 10px;
    background-color: var(--color-parrafosGrisClaro);

}

.divFilaBtns {
    display: flex;
    flex-direction: row;
    padding: 0px;
    width: auto;
    justify-content: space-between;
    border: none;
    box-shadow: none;
    background-color: var(--color-parrafosGrisClaro);
}

/* ultima fila botones calculadora */
.divFilaBtns5 {
    display: flex;
    flex-direction: row;
    padding: 0px;
    width: auto;
    border: none;
    gap: 10px;
    box-shadow: none;
    background-color: var(--color-parrafosGrisClaro);
}

/* Consigna 10b botones calculadora */
.btnCalculadora {
    width: 18%;
    height: 30px;
    padding: 0px 8px;
    letter-spacing: 0px;
    box-shadow: none;
    background-color: gray;
    color: yellow;
    border: none;

}

.btnCalculadoraIgual {
    width: 59%;
    height: 30px;
    padding: 0px 8px;
    letter-spacing: 0px;
    box-shadow: none;
    background-color: gray;
    color: yellow;
    border: none;
}






/* --------------------------------------------------     CONTACTO HTML   -------------------------------------------*/








#sectionContacto {
    width: 100%;
    height: calc(100vh - 105px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0px;
    margin: 0;
    gap: 0;
}


.divContactoContenedor {
    display: flex;
    width: min(90%, 800px);
    max-width: 1200px;
    height: 360px;
    border: solid 3px var(--color-amarillo);
    border-radius: 4px;
    background-color: var(--color-fondoGrisOscuro);
    box-shadow: 10px 10px 15px;
    transition: transform 0.2s ease;
}

.divContactoContenedor:hover {
    transform: scale(1.01);
    /* Escala el botón al 95% de su tamaño original */
}

.divImgContacto {
    background-image: url("./imagenesChicas/contactanos.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    width: 100%;
}

.divFormContacto {
    width: 100%;
    padding: 0px;
    display: flex;
    justify-content: center;
}

.contactoForm {
    padding: 20px 0px;
    width: 90%;
}

.contactoForm label {
    color: yellow;

}


#nombreContacto,
#correoElectronicoContacto,
#mensajeContacto {
    background-color: white;
    padding: 6px;
    color: yellow;
    margin-right: 10px;
}

.btnEnviarContacto {
    background-color: var(--color-amarillo);
    border: solid 2px var(--color-amarillo);
    font-size: 1.2rem;
    color: var(--color-fondoGrisOscuro);
    cursor: pointer;
    border-radius: 4px;
    transition: transform 0.2s ease;
    font-weight: 600;
    margin-top: 10px;
}







/* ****************************************************     HTML LOGIN  ******************************************** */







/* Pantalla completa */
#usuarioSection {
    padding-top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-fondoClaro);
    /* height le resto 65 del header y 60 del footer */
    height: calc(100vh - 105px);
    width: 100%;
}

/* contenedor de cards img,registro ,ingresar */
.usuarioDiv {
    display: flex;
    justify-content: center;
    width: min(85%, 900px);
    max-width: 1200px;
    height: 360px;
    border: solid 3px var(--color-amarillo);
    border-radius: 4px;
    box-shadow: 10px 10px 15px;
    background-color: var(--color-fondoGrisOscuro);
    transition: transform 0.2s ease;
}

.usuarioDiv:hover {
    transform: scale(1.01);
    /* Escala el botón al 95% de su tamaño original */
}

.divImgHola {
    width: 40%;
    background-image: url(./imagenesChicas/holahola.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-right: solid 3px var(--color-amarillo);
}

/* titulos iniciar sesion, registrarse */
.ingresarDiv h2,
.registrarseDiv h2 {
    text-align: center;
    font-family: var(--letra-titulos);
    font-size: 1.6rem;
    color: var(--color-amarillo);
    border-bottom: solid 2px var(--color-amarillo);
    margin-bottom: 15px;
}


/* div contenedor del form iniciar sesion */
.ingresarDiv {
    width: 30%;
    padding: 15px;
}

.ingresarDiv form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

/*div contenedor inputs ingreso para ordenar los 2 forms iguales */
.divIngresoInputLabel {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 15px;
}

.aRecuperarPass {
    font-size: 1.05rem;
    font-family: var(--letra-parrafos);
    color: var(--color-amarillo);
    font-weight: 600;
    margin-top: 4px;
    margin-bottom: 9px;
}

.btnIngresar,
.btnRegistro {
    background-color: var(--color-amarillo);
    border: solid 2px var(--color-amarillo);
    font-size: 1.2rem;
    color: var(--color-fondoGrisOscuro);
    cursor: pointer;
    border-radius: 4px;
    transition: transform 0.2s ease;
    font-weight: 600;
    margin-top: 10px;
}

.btnRegistro {
    margin-top: 6px;
}

.btnIngresar:hover,
.btnRegistro:hover {
    transform: scale(0.95);
    /* Escala el botón al 95% de su tamaño original */
    background-color: var(--color-amarillo);
    color: var(--color-fondoGrisOscuro);
}

label {
    display: block;
    color: var(--color-parrafosGrisClaro);
    font-family: var(--letra-parrafos);
    font-weight: 700;
    font-size: 1.05rem;
}

input {
    border-radius: 3px;
    padding: 3px;
    width: 100%;
    border: 2px solid var(--color-parrafosGrisClaro);
}

input:focus {
    border: 2px solid var(--color-amarillo);
    outline: none;
    /* Elimina el contorno de enfoque predeterminado */
}

.registrarseDiv {
    padding: 15px;
    width: 30%;
}

.registrarseDiv h2 {
    margin: 0;
}

.registrarseDiv form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
    height: 100%;
}



/* Card para mostrar msjs si los datos ingresados son incorrectos o validos con JS */
.divMensaje {
    display: none;
    z-index: 3;
    height: auto;
    width: auto;
    border: solid 4px var(--color-amarillo);
    border-top: solid 20px var(--color-amarillo);
    background-color: rgb(51, 49, 49);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 4px;
}

/* display block para mostrar el cartel agregandole esta class al div con js */
.mostrarMsj {
    display: flex;
}

.pMsj {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.4rem;
    font-family: var(--letra-parrafos);
    font-weight: 500;
    color: white;
    width: 100%;
    gap: 4px;
}

/* Card Msj boton OK para cerrar el msj */
.btnAceptar {
    margin-top: 15px;
    padding: 5px 50px;
    background-color: var(--color-amarillo);
    border-radius: 3px;
    font-weight: 700;
    color: white;
    cursor: pointer;
    order: 2;
}

.btnAceptar:hover {
    color: white;
    background-color: rgb(50, 116, 50);
}

/* Hover para el mismo aceptar pero en los errores */
.hoverError:hover {
    background-color: rgb(240, 57, 57);
}

/* imagen en la card para mensajes de validacion true  */
/* imagen en la card para mensajes de validacion false */
.imgOk {
    height: 25px;
    width: 25px;
}

.imgError {
    height: 25px;
    width: 25px;
}





/* ******************************************************************************************************************** */


/* FOOTER */
.footer {
    height: 40px;
    width: 100%;
    background-color: var(--color-amarillo);
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer h3 {
    font-family: var(--letra-parrafos);
    font-weight: 900;
    font-size: 1.2rem;
    text-align: center;
}